@page "/Diagnostics"
@using Blazor.Extensions.App.Server.Locales
@using Microsoft.Extensions.Localization
@using System.Globalization
@using Blazor.Extensions.Presentation.Components
@using Syncfusion.Blazor.Grids

@inherits DiagnosticsComponent
@inject IStringLocalizer<Resource> Localizer

<PageTitle>Diagnostics</PageTitle>

<ul>
    <li><b>CurrentCulture</b>: @CultureInfo.CurrentCulture</li>
    <li><b>CurrentUICulture</b>: @CultureInfo.CurrentUICulture</li>
</ul>

<h1>@Resource.Hello</h1>
<h1>@Localizer["Hello"]</h1>

<FileUpload></FileUpload>

<!-- OnFilesChanged="OnFilesChanged" -->
<h1>Persistent Files</h1>
<SfGrid DataSource="@PersistedFileInformations" />
